<%= form_for @representation do |f| %>
  <p>
    <%= f.collection_select(:member_id, Member.all, :id, :name, prompt: true) %>
  </p>
  <p>
    <%= f.collection_select(:constituency_id, Constituency.all, :id, :name, prompt: true) %>
  </p>
  <p>
    <%= f.date_field(:log_date, value: (@representation.log_date || '2016-05-05')) %>
  </p>

  <p>
    <%= f.date_field(:end_log_date, value: (@representation.end_log_date || '2016-05-04')) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
