<article class="speech <%= cycle('even', 'odd') %>" id="<%= properties[:id] %>">
	<div class="speech--sidebar">
		<ul>
			<li><%= link_to image_tag(properties[:avatar]), properties[:member_link], :class => "speech--sidebar-avatar" %></li>
			<li><%= link_to 'Link to this text', properties[:speech_link], class: 'speech--sidebar-link' %></li>
			<li><input type="text" value="http://yoursenedd.wales<%= properties[:speech_link] %>" readonly /></li>
			<% if properties[:video_link] %>
				<li><%= link_to 'Play video link', properties[:video_link], class: 'speech--sidebar-link', remote: true %></li>
				<li><input type="text" value="http://yoursenedd.wales<%= properties[:video_link]%>" readonly /></li>
			<% end %>
		</ul>
	</div>
	<div class="speech--content">
		<h3 class="speech--content-header"><%= link_to properties[:name], properties[:member_link] %></h3>
		<p class="speech--content-body"><%= simple_format(properties[:body]) %></p>
	</div>
	<div style="clear:both"></div>
</article>
