<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>
      <%= yield :title %>
    </title>
    <link href="yoursenedd.ico" rel="shortcut icon" type="image/x-icon"></link>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= render 'application/search' %>
    <%= yield :head %>
  </head>
  <body>
    <div class="clearfix" id="banner">
      <div class="container">
        <div id="logo">
          <%= link_to image_tag('senedd-logo.png'), root_url %>
        </div>
        <nav class="clearfix" id="main-nav">
          <ul class="clearfix">
            <li>
              <%= link_to t('menu.members'), members_path %>
            </li>
            <li>
              <%= link_to t('menu.debates'), debates_path %>
            </li>
            <% if I18n.locale == :en %>
              <li>
                <%= link_to t('menu.advertise'), advertising_path %>
              </li>
              <li>
                <%= link_to t('menu.bespoke_data'), message_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <%= render 'application/subscribe_alert' if I18n.locale == :en %>
    <% if current_page?(root_url) %>
      <section id="strip">
        <div id="search">
          <h1><%= t('.search_for') %></h1>
          <%= form_tag(search_index_path, :method => 'get') do |f| %>
            <%= text_field_tag :q, nil, { :placeholder => t('.example_search') } %>
            <span class="tip"><%= t('.enter_to_search').html_safe %></span>
          <% end %>
        </div>
      </section>
    <% end %>
    <div class="clearfix" id="main">
      <%= yield %>
    </div>
    <% if Rails.env.production? %>
      <%= render partial: 'application/analytics' %>
    <% end %>
    <footer id="footer">
      <div class="container">
        <div>
          <span class="tagline"><%= t('your_senedd') %></span>
        </div>
      </div>
    </footer>
  </body>
</html>
