<html>
  <head>
    <meta charset='utf-8'></meta>
    <title>Your Senedd Weekly</title>
    <%= favicon_link_tag 'yoursenedd.ico' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body class='landing'>
    <div id='header' class='clearfix'>
      <%= image_tag 'senedd-logo.png', width: 150 %>
      <h1>Weekly</h1>
      <div class='clear'></div>
    </div>

    <% if flash[:confirmation] %>
      <div class='flash clearfix'>
        <%= flash[:confirmation] %>
      </div>
    <% end %>
    <%= yield %>
    <% if Rails.env.production? %>
      <%= render partial: 'application/analytics' %>
    <% end %>
  </body>
</html>
